## Star Patterns

##### Full Square

In [66]:
def print_full_square(n):
    for i in range(n):
        print(n*"* ",end = "")
        print()

In [51]:
print_full_square(5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

##### Hollow Square

In [52]:
def print_hollow_square(n):
    for i in range(n):
        for j in range(n):
            if i == 0 or i == (n-1) or j == 0 or j == (n-1):
                print("* ",end="")
            else:
                print("  ",end="")
        print()

In [54]:
print_hollow_square(5)

* * * * *
*       *
*       *
*       *
* * * * *

##### Half Pyramid

In [1]:
def print_half_pyramid(n):
    for i in range(1,n+1):
        print(i*"*")

In [2]:
print_half_pyramid(5)

*
**
***
****
*****

##### Inverted Half Pyramid

In [3]:
def print_inverted_half_pyramid(n):
    for i in range(n,0,-1):
        print(i*"*")

In [4]:
print_inverted_half_pyramid(5)

*****
****
***
**
*

##### Full Pyramid

In [55]:
def print_full_pyramid(n):
    for i in range(1,n+1):
        print((n-i)*" "+"* "*i)

In [56]:
print_full_pyramid(5)

    *
   * *
  * * *
 * * * *
* * * * *

##### Inverted Full Pyramid

In [57]:
def print_inverted_full_pyramid(n):
    for i in range(n,0,-1):
        print((n-i)*" "+i*"* ")

In [58]:
print_inverted_full_pyramid(5)

* * * * *
 * * * *
  * * *
   * *
    *

##### Dimaond Pyramid

In [60]:
def print_diamond_pyramid(n):
    for i in range(n):
        print((n-i)*" "+(2*i+1)*"*")
    for j in range(n-2,-1,-1):
        print((n-j)*" "+(2*j+1)*"*")

In [62]:
print_diamond_pyramid(5)

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

## Number Patterns

##### Half Pyramid

In [46]:
def print_half_number_pyramid(n):
    for i in range(1,n+1):
        counter=1
        for j in range(1,i+1):
            print(j,end=" ")
        print()

In [47]:
print_half_number_pyramid(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
def print_inverted_half_number_pyramid(n):
    for i in range(n,0,-1):
        counter=1
        for j in range(1,i+1):
            print(j,end=" ")
        print()

In [8]:
print_inverted_half_number_pyramid(4)

1 2 3 4
1 2 3
1 2
1

Half Pyramid using Aphabets

In [9]:
def print_Alphabet_Half_Pyramid(n):
    asc_value = 65
    for i in range(1,n+1):
        print(i*chr(asc_value))
        asc_value+=1

In [10]:
print_Alphabet_Half_Pyramid(6)

A
BB
CCC
DDDD
EEEEE
FFFFFF

Print number full pyramid

In [17]:
rows = int(input("Enter number of rows: "))

k = 0
count=0
count1=0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print("  ", end="")
        count+=1
    
    while k!=((2*i)-1):
        if count<=rows-1:
            print(i+k, end=" ")
            count+=1
        else:
            count1+=1
            print(i+k-(2*count1), end=" ")
        k += 1
    
    count1 = count = k = 0
    print()

Enter number of rows: 3
    1
  2 3 2
3 4 5 4 3

In [18]:
def print_number_full_pyramid(n):
    k = 0
    c = 0
    c1 = 0
    for i in range(1,n+1):
        print((n-i)*" ",end="")
        c+=(n-i)
        while k!=((2*i) - 1):
            if c <= n-1:
                print(i+k,end="")
                c+=1
            else:
                c1+=1
                print(i+k - (2*c1),end="")
            k+=1
        c=c1=k=0
        print()

In [19]:
print_number_full_pyramid(5)

    1
   232
  34543
 4567654
567898765

Print Pascal Triangle

In [20]:
def print_pascal_triangle(n):
    coef = 1
    for i in range(1,n+1):
        print((n-i)*" ",end="")
        for j in range(0,i):
            if j==0 or i==0:
                coef = 1
            else:
                coef = coef*(i-j)//j
            print(coef,end=" ")
        print()

In [21]:
print_pascal_triangle(5)

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [22]:
rows = int(input("Enter Diamond Number Pattern Rows = "))

print("====Diamond Number Pattern====")

for i in range(1, rows + 1):
    for j in range(1, rows - i + 1):
        print(end = ' ')
    for k in range(1, (2 * i)):
        print(k, end = '')
    print()

for i in range(rows - 1, 0, -1):
    for j in range(1, (rows - i + 1)):
        print(end = ' ')
    for k in range(1, (2 * i)):
        print(k, end = '')
    print()

Enter Diamond Number Pattern Rows = 3
====Diamond Number Pattern====
  1
 123
12345
 123
  1